.fonte-titulo {
    padding-left:45%;
    font-weight: bold;
}

.pagina {
    background-color: rgb(46, 45, 45);
    color:rgb(228, 178, 15);
}

.foto-bruno {
    border-radius: 25px;
    margin:0px;
    border: 3px solid black;
    background-color: rgba(55, 117, 199, 0.856);
    float:left;
}

.icones-redes {
    max-width:50px;
    max-height:50px;
    width: auto;
    height: auto;
    background-size: cover;
}

.icones-redes:hover {
    transition-duration: 0.5s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.redes {
    display:inline-block;
    padding-left: 1%;
}

.icones-hab {
    max-width:150px;
    max-height:150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.habilidades {
    display:inline-block;
    padding-left: 8%;
}

.click-button {
    color:white;
    background-color: rgba(12, 14, 17, 0.856); /* Green */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.click-button:hover {
    transition-duration: 0.5s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color:rgba(62, 63, 65, 0.856);
    color:rgb(228, 178, 15);
}

.paragrafo-comum {
    font-weight: bold;
    color:white;
}

.icones-escol {
    max-width:50px;
    max-height:50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;    
}

.menu {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
    background-color: black;
}

.body {
    height: 2000px;
    padding: 180px;
}